h1 {
  color: #BE3025;
  background-color: #000000;
}

h2 {
  color: #FFFFFF;
  background-color: #F1DE20;
}

.turnwhite {
  color: #FFFFFF;
}

.turnyellow {
  color: #F1DE20;
}

#redback {
  background-color: #BE3025;
}

p {
  color: #000000;
  background-color: #BE3025;
}

a:link {
color: #FF0000;
text-decoration: none;
}

a:visited {
 color: #5ED806;
}

a:hover {
 color: #F1DE20;
 text-decoration: underline;
}

h3 {
  color: #BE3025;
  background-color: #000000;
}
#greyfont {
  color: #999993;
}

h4 {
  color: #BEB425;
  text-decoration: underline;
}

h5 {
  color: #B5B49E;
  text-decoration: underline;
}
